position: absolute;
width: 1512px;
height: 982px;
left: 0px;
top: 0px;

background: #D9D9D9;


/* Rectangle 7 */


position: absolute;
width: 1512px;
height: 76px;
left: 0px;
top: 0px;

background: #000000;


/* EcoRacingGames.tech */


position: absolute;
width: 1500px;
height: 64px;
left: 12px;
top: 12px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFFFFF;



/* image 1 */


position: absolute;
width: 1512px;
height: 911px;
left: 0px;
top: 71px;

background: url(image.png);


/* Welcome to EcoRacingGames */


position: absolute;
width: 1273px;
height: 132px;
left: 148px;
top: 56px;

font-family: 'Licorice';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 160px;

color: #FFFFFF;



/* Play Video Games to help the enviroment */


position: absolute;
width: 1294px;
height: 134px;
left: 127px;
top: 176px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

color: #FFFFFF;



/* Play car racing video games where players have to answer questions about the enviroment */


position: absolute;
width: 547px;
height: 308px;
left: 24px;
top: 238px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FFE712;



/* The faster you answer the questions and get it right the faster your car goes */


position: absolute;
width: 547px;
height: 308px;
left: 20px;
top: 546px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #12D4FF;



/* You can play mulitplier, Single Player or group play. They can join using a code */


position: absolute;
width: 531px;
height: 236px;
left: 952px;
top: 264px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #00FF19;



/* Players can earn $$$ and spend it to buy new cars, drivers and more. */


position: absolute;
width: 547px;
height: 308px;
left: 952px;
top: 546px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #9FAFFF;



/* Players who donate the $$$ they earn to the #savetheenviroment campaign can get $ back */


position: absolute;
width: 1244px;
height: 249px;
left: 239px;
top: 778px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #EC12FF;



/* Rectangle 8 */


position: absolute;
width: 384px;
height: 68px;
left: 547px;
top: 261px;

background: #1FAEFF;


/* Rectangle 9 */


position: absolute;
width: 384px;
height: 68px;
left: 547px;
top: 368px;

background: #B1C53C;


/* SIGN IN */


position: absolute;
width: 211px;
height: 61px;
left: 634px;
top: 268px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;



/* GET STARTED */


position: absolute;
width: 397px;
height: 51px;
left: 575px;
top: 375px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #000000;
